.cart-item-container{
    background-color: lightgray;
    width: 35%;
    border-radius: 10px;
    margin: 60px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cart-img-container{
    display: flex;
    width: 43%;
    justify-content: center;
    align-items: center;
}
.cart-img-container>img{
    width: 60%;
    height: auto;
}
.cart-info-container{
    width: 70%;
}